-@posts.each do |post|
  .page-header
    %h1
      =post.title
  %p
    =post.description
  .pull-right
    =link_to 'Read More...', post
  %div{style: "clear:right;"}
=link_to 'New Post', new_post_path
