/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
		/*START footer*/
		
		body > footer{
			min-height:150px;
			overflow:hidden;
			padding-top:35px;
			margin-top:60px;
			background:#F7F8F9; 
			border-top:1px solid #EFF0F2;
			text-shadow: 0 1px 0 rgba(255,255,255,0.6);
			color:#6E737A;
			
			-moz-box-shadow		:0 5px 5px -5px rgba(0,0,0,0.03) inset;
			-webkit-box-shadow	:0 5px 5px -5px rgba(0,0,0,0.03) inset;
			box-shadow			:0 5px 5px -5px rgba(0,0,0,0.03) inset; 
		}

		
			/*footer link colors*/
			body > footer a:not(.button) {color:#454E54;}
			.old-browser body > footer a {color:#454E54;}
	
			#copyright-note{
				text-align:right;
				padding:20px 0 5px;
				font-size:11px;
				margin-top: 20px;
				border-top:1px solid #DAE1E5;
			}
			
			#footer-nav a{
				padding: 0 10px;
				border-right:1px solid #B7B7B7;
			}
			
			#footer-nav a:first-child {padding-left:0;}
			#footer-nav a:last-child {border:none;}
			


		/*END footer */