!!! 5
%html
	%head
		%title Neitzer
		=stylesheet_link_tag    "application", :media => "all"
		=javascript_include_tag "application"
		=csrf_meta_tags
	%body
		%header
			.container
				%nav.pull-right
					%uli.nav.nav-pills
						%li{:class => current_class?(home_index_path)}
							=link_to "Home", home_index_path
						%li{:class => current_class?(posts_path)}
							=link_to "Blog", posts_path
				%div{style: "clear: right;"}
				.hero-unit
					%h1
						Chris Neitzer
					%p
						A blog, mutha fucka!
		.container
			.row
				.offset2.span8
					=yield
	%footer
		.container
			%p{style: "text-align: center;"}
				2012 &copy; All Rights Reserved.
